.flower-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.buy-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buy-page-header * {
    margin: 5px;
}

.flower-list-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flower-list-controls * {
    margin: 10px;
}

button {
    cursor: pointer;
}

.empty-list {
    width: 100%;
    text-align: center;
}
