<div
    (mouseenter)="setAddToCart(true)"
    (mouseleave)="setAddToCart(false)"
    *ngIf="flower"
    class="flower-card"
    id="flower_card_{{flower?.id}}"
>
    <div class="flower-image">
        <img
            [ngClass]="{'half-opacity': inCart || showAddToCart}"
            src="./assets/flowers/{{flower.image}}"
        >
        <button
            (click)="onToCart()"
            *ngIf="showAddToCart && !inCart"
            id="add_flower_to_cart"
        >Add to cart</button>
        <button
            (click)="onRemoveFromCart()"
            *ngIf="inCart"
            id="remove_flower_from_cart"
        >Remove from cart</button>
    </div>
    <span class="flower-name">{{flower.name}}</span>
    <span class="flower-price">${{price}}</span>
    <div class="flower-rating">
        <span
            *ngFor="let star of rating"
            [innerHTML]="star"
        ></span>
    </div>
    <div
        *ngIf="inCart"
        class="in-cart"
    >
        <span>In Cart</span>
    </div>
</div>
<div *ngIf="!flower">404 Flower not found.</div>
